<div class="container">
	<div class="row">
		<div class="offset-md-2 col-md-8">
			<h1><%= @list.title %></h1>
			<% @list.articles.each do |article| %>
				<div class="card">
				  <div class="card-body">
				    <h5 class="card-title"><%= article.title %></h5>
				    <h6 class="card-subtitle mb-2 text-muted"><%= article.site_name %></h6>
				    <p class="card-text"><%= article.description %></p>
				    <small><%= link_to 'Read More', article.url %></small>
				    <% if article.user == current_user %>
							<small>|<%= link_to 'Edit', article %></small>
							<small>|<%= link_to 'Delete', article, :list_id => params[:id], method: :delete, data: { confirm: 'Are you sure?' } %></small>
						<% end %>
					</div>
				</div>
			<% end %>
			<% if user_signed_in? %>
			  <%= link_to 'Add Article', new_article_path %> |
			  <%= link_to 'Edit', edit_list_path(@list) %> |
			  <%= link_to 'Back', lists_path %>
			<% end %>
		</div>
	</div>
</div>
