<div class="container">
	<div class="row">
		<div class="offset-md-2 col-md-8">
			<div class="card">
			  <div class="card-body">
			    <h5 class="card-title"><%= @article.title %></h5>
			    <h6 class="card-subtitle mb-2 text-muted"><%= @article.site_name %></h6>
			    <p class="card-text"><%= @article.description %></p>
			    <%= link_to 'Read More', @article.url %>  
		    	<% if @article.user == current_user %>
						| <%= link_to 'Edit', edit_article_path(@article) %>
						| <%= link_to 'Back', articles_path %>
					<% end %>
			  </div>
			</div>
		</div>
	</div>
</div>